{{#each dashboard as |dashboard| }}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
  <div class="card">
    <h5 class="card-title">{{post.title}}</h5>
  </div>
</div>
{{/each}}
  <p>
    <button class="btn btn-primary">upload</button>
  </p>