<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
      <button class="btn btn-primary">post!</button>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
      <p>Created by {{user.name}} on {{format_date date_created}}</p>

    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">{{  }}</p>
    <a href="#" class="card-link">Card link</a>
  </div>
      <button class="btn btn-primary">post!</button>

</div>